*{
    transition: 0.2s ease-in;
}

#nav{
    height: 50px;
    box-sizing: border-box;
    background: #888;
    margin: 0px;
    padding: 15px 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#nav ul, #menu-btn{
    margin: 0px;
    float: right;
    right: 20px;
}
#nav ul{
    display: none;
}

@media(min-width: 600px){
    #nav ul{
        display: initial;
    }
    #menu-btn{
        display: none;
    }
}


#nav ul li{
    list-style-type:none;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

body{
    padding:0px;
    margin: 0px;
    letter-spacing: 0.2px;
    font-weight: 100;
    font-family: sans-serif;
}
#header{
    background: #333;
    height: 100vh;
    position: relative;
}

section{
    padding: 10px;
}
#header{
    background: url('https://images.unsplash.com/photo-1549144426-4b7eb905c904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
}
#header .headline{
    margin-top: -20px;
    color: #fff;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#header .headline h3{
    font-size: 25px;
    line-height:10px;
}


#header .headline div{
    font-size: 20px;
    line-height:10px;
}
#about{
    background: #eee;
    padding: 20px;
}
.title{
    text-align: center;
    font-size: 24px;
}
#about p{
    text-align: center;
    line-height: 20px;
}
#portfolio .title{
    margin-bottom: 20px;
}

.container{
    justify-content: space-between;
}


.container .item{
    background: #ddd;
    padding: 20px;
    margin: 10px;
    min-height:200px;
    position: relative;
    background: url('https://images.unsplash.com/photo-1549144426-4b7eb905c904?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position:center;
}
.container .item:hover{
    background-position: left;
}


.container .item figcaption{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    z-index: 1000;
}

.container .item:hover figcaption{
    bottom: 20px;
}

.overlay{
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.overlay:hover{
    background: rgba(0,0,100,0.3);
}

@media(min-width: 800px){
    .container{
        display: flex;
        justify-content: center;
    }
    
    .container .item{
        width: 30%;
        padding: 5% 10px;
    }
}